<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/pending/">Pending</a></li>
        <li><a href="/transactions/">Transactions</a></li>
        <li><a href="/summary/">Summary</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://www.lisk.io">LiskHQ Website</a></li>
            <li><a href="https://github.com/LiskHQ">LiskHQ Github</a></li>
            <li><a href="https://explorer.lisk.io">LiskHQ Explorer</a></li>
            <li><a href="https://explorer.lisknode.io">Lisk Explorer (gr33ndrag0n)</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
